<a href="https://colab.research.google.com/github/Meisz00/googlecolab/blob/main/Web_Scraping_FIFA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [91]:
import pandas as pd
from string import ascii_uppercase as alphabet
import pickle

In [92]:
data = pd.read_html('https://en.wikipedia.org/wiki/2022_FIFA_World_Cup')

In [93]:
data

[   كأس العالم لكرة القدم 2022 Kaʾs al-ʿālam li-kurat al-qadam 2022  \
 0   الآن هو كل شيء‎ Al-ʾāna huwa kullu šayʾ "Now I...
 1                                  Tournament details
 2                                        Host country
 3                                               Dates
 4                                               Teams
 5                                            Venue(s)
 6                                     Final positions
 7                                           Champions
 8                                          Runners-up
 9                                         Third place
 10                                       Fourth place
 11                              Tournament statistics
 12                                     Matches played
 13                                       Goals scored
 14                                         Attendance
 15                                      Top scorer(s)
 16                                     Best player(s)
 17                                  Best young player
 18                                    Best goalkeeper
 19                                    Fair play award
 20                                      ← 2018 2026 →

    كأس العالم لكرة القدم 2022 Kaʾs al-ʿālam li-kurat al-qadam 2022.1
 0   الآن هو كل شيء‎ Al-ʾāna huwa kullu šayʾ "Now I...
 1                                  Tournament details
 2                                               Qatar
 3                           20 November – 18 December
 4                          32 (from 5 confederations)
 5                                8 (in 5 host cities)
 6                                     Final positions
 7                               Argentina (3rd title)
 8                                              France
 9                                             Croatia
 10                                            Morocco
 11                              Tournament statistics
 12                                                 64
 13                               172 (2.69 per match)
 14                       3,404,252 (53,191 per match)
 15                            Kylian Mbappé (8 goals)
 16                                       Lionel Messi
 17                                     Enzo Fernández
 18                                  Emiliano Martínez
 19                                            England
 20                                      ← 2018 2026 →                 ,
                                                    0
 0                            Part of a series on the
 1                                2022 FIFA World Cup
 2  Hosting Bids Australia Indonesia Japan Qatar S...
 3  Qualification Overview Africa first round seco...
 4  Matches Group stage Group A Group B Group C Gr...
 5  Controversies Overview Allegations of corrupti...
 6  People Gianni Infantino Antonio Mateu Lahoz Ta...
 7  Promotional and related media Adidas Al Rihla ...
 8  Media related to 2022 FIFA World Cup at Wikime...
 9                                                vte,
                             Place Teams Amount (in millions)
                             Place Teams             Per team Total
 0                       Champions     1                  $42   $42
 1                      Runners-up     1                  $30   $30
 2                     Third place     1                  $27   $27
 3                    Fourth place     1                  $25   $25
 4  5th–8th place (quarter-finals)     4                  $17   $68
 5    9th–16th place (round of 16)     8                  $13  $104
 6   17th–32nd place (group stage)    16                   $9  $144
 7                           Total    32                 $440  $440,
          Bidders   Votes
          Bidders Round 1     Round 2     Round 3     Round 4
 0          Qatar      11          10          11          14
 1  United States       3           5           6           8
 2    South Korea       4           5           5  Eliminated
 3          Japan       3           2  Eliminated  Eliminated
 4      Australia       1  Eliminated  Eliminated  Eliminated,
         City                        Stadium           Capacity
 0    Al Khor                Al Bayt Stadium  68,895[66][67][E]
 1     Lusail                 Lusail Stadium  88,966[68][69][F]
 2  Al Rayyan          Ahmad bin Ali Stadium  45,032[70][71][G]
 3  Al Rayyan         Education City Stadium  44,667[72][73][H]
 4  Al Rayyan  Khalifa International Stadium  45,857[74][75][I]
 5       Doha             Al Thumama Stadium  44,400[76][77][J]
 6       Doha                    Stadium 974  44,089[78][79][K]
 7  Al Wakrah              Al Janoub Stadium  44,325[80][81][L],
              Team                                              Hotel  \
 0       Argentina                          Qatar University Hostel 1
 1       Australia           New Aspire Academy Athlete Accommodation
 2         Belgium               Hilton Salwa Beach Resort and Villas
 3          Brazil                      The Westin Doha Hotel and Spa
 4        Cameroon            Banyan Tree Doha at La Cigale Mushaireb
 5          Canada                        Century Marina Hotel Lusail
 6      Costa Rica                                 dusitD2 Salwa Doha
 7         Croatia                                        Hilton Doha
 8         Denmark                           Retaj Salwa Resort & SPA
 9         Ecuador                            Hyatt Regency Oryx Doha
 10        England                Souq Al Wakra Hotel Qatar by Tivoli
 11         France  Al Messila – A Luxury Collection Resort & Spa,...
 12        Germany                              Zulal Wellness Resort
 13          Ghana                DoubleTree by Hilton Doha – Al Sadd
 14           Iran    Al Rayyan Hotel Doha Curio Collection by Hilton
 15          Japan                            Radisson Blu Hotel Doha
 16         Mexico                          Simaisma, A Murwab Resort
 17        Morocco                              Wyndham Doha West Bay
 18    Netherlands                                 The St. Regis Doha
 19         Poland                                 Ezdan Palace Hotel
 20       Portugal              Al Samriya Autograph Collection Hotel
 21          Qatar                         Al Aziziyah Boutique Hotel
 22   Saudi Arabia                     Sealine Beach, a Murwab Resort
 23        Senegal                        Duhail Handball Sports Hall
 24         Serbia                              Rixos Gulf Hotel Doha
 25    South Korea                       Le Méridien City Center Doha
 26          Spain                          Qatar University Hostel 2
 27    Switzerland                            Le Royal Méridien, Doha
 28        Tunisia                  Wyndham Grand Doha West Bay Beach
 29  United States            Marsa Malaz Kempinski, The Pearl – Doha
 30        Uruguay                              Pullman Doha West Bay
 31          Wales                      Delta Hotels City Center Doha

                                         Training site
 0                    Qatar University Training Site 3
 1                   Aspire Zone Training Facilities 5
 2                                 Salwa Training Site
 3                                 Al Arabi SC Stadium
 4                               Al Sailiya SC Stadium
 5                    Umm Salal SC Training Facilities
 6                                  Al Ahli SC Stadium
 7                            Al Ersal Training Site 3
 8                                     Al Sailiya SC 2
 9                    Mesaimeer SC Training Facilities
 10                               Al Wakrah SC Stadium
 11                                 Al Sadd SC Stadium
 12                               Al Shamal SC Stadium
 13                  Aspire Zone Training Facilities 1
 14                 Al Rayyan SC Training Facilities 1
 15               Al Sadd SC New Training Facilities 1
 16                                 Al Khor SC Stadium
 17                               Al Duhail SC Stadium
 18                   Qatar University Training Site 6
 19              Al Kharaitiyat SC Training Facilities
 20                Al Shahaniya SC Training Facilities
 21                  Aspire Zone Training Facilities 3
 22                              Sealine Training Site
 23                                     Al Duhail SC 2
 24                    Al Arabi SC Training Facilities
 25                            Al Egla Training Site 5
 26                   Qatar University Training Site 1
 27  University of Doha for Science and Technology ...
 28                           Al Egla Training Sites 3
 29                              Al Gharafa SC Stadium
 30                           Al Ersal Training Site 1
 31               Al Sadd SC New Training Facilities 2  ,
                                                    0  \
 0  AFC (6)  Australia (38)  Iran (20)  Japan (24)...

                                                    1  \
 0  CONCACAF (4)  Canada (41)  Costa Rica (31)  Me...

                                                    2  \
 0  UEFA (13)  Belgium (2)  Croatia (12)  Denmark ...

                                                    3
 0  Team qualified Team failed to qualify Team wit...  ,
                                                Pot 1  \
 0  Qatar (51) (hosts)  Brazil (1)  Belgium (2)  F...

                                                Pot 2  \
 0  Mexico (9)  Netherlands (10)  Denmark (11)  Ge...

                                                Pot 3  \
 0  Senegal (20)  Iran (21)  Japan (23)  Morocco (...

                                                Pot 4
 0  Cameroon (37)  Canada (38)  Ecuador (46)  Saud...  ,
                 Tie-breaking criteria for group play
 0  The ranking of teams in the group stage was de...,
    Pos      Teamvte  Pld  W  D  L  GF  GA  GD  Pts               Qualification
 0    1  Netherlands    3  2  1  0   5   1  +4    7  Advanced to knockout stage
 1    2      Senegal    3  2  0  1   5   4  +1    6  Advanced to knockout stage
 2    3      Ecuador    3  1  1  1   4   3  +1    4                         NaN
 3    4    Qatar (H)    3  0  0  3   1   7  −6    0                         NaN,
    Qatar     0–2                   Ecuador
 0    NaN  Report  Valencia 16' (pen.), 31',
    Senegal     0–2               Netherlands
 0      NaN  Report  Gakpo 84' Klaassen 90+9',
          Qatar     1–3                            Senegal
 0  Muntari 78'  Report  Dia 41' Diédhiou 48' B. Dieng 84',
   Netherlands     1–1       Ecuador
 0    Gakpo 6'  Report  Valencia 49',
        Ecuador     1–2                           Senegal
 0  Caicedo 67'  Report  I. Sarr 44' (pen.) Koulibaly 70',
                 Netherlands     2–0  Qatar
 0  Gakpo 26' F. de Jong 49'  Report    NaN,
    Pos        Teamvte  Pld  W  D  L  GF  GA  GD  Pts  \
 0    1        England    3  2  1  0   9   2  +7    7
 1    2  United States    3  1  2  0   2   1  +1    5
 2    3           Iran    3  1  0  2   4   7  −3    3
 3    4          Wales    3  0  1  2   1   6  −5    1

                 Qualification
 0  Advanced to knockout stage
 1  Advanced to knockout stage
 2                         NaN
 3                         NaN  ,
                                              England     6–2  \
 0  Bellingham 35' Saka 43', 62' Sterling 45+1' Ra...  Report

                         Iran
 0  Taremi 65', 90+13' (pen.)  ,
   United States     1–1            Wales
 0      Weah 36'  Report  Bale 82' (pen.),
    Wales     0–2                           Iran
 0    NaN  Report  Cheshmi 90+8' Rezaeian 90+11',
    England     0–0  United States
 0      NaN  Report            NaN,
    Wales     0–3                      England
 0    NaN  Report  Rashford 50', 68' Foden 51',
    Iran     0–1 United States
 0   NaN  Report   Pulisic 38',
    Pos       Teamvte  Pld  W  D  L  GF  GA  GD  Pts  \
 0    1     Argentina    3  2  0  1   5   2  +3    6
 1    2        Poland    3  1  1  1   2   2   0    4
 2    3        Mexico    3  1  1  1   2   3  −1    4
 3    4  Saudi Arabia    3  1  0  2   3   5  −2    3

                 Qualification
 0  Advanced to knockout stage
 1  Advanced to knockout stage
 2                         NaN
 3                         NaN  ,
           Argentina     1–2                     Saudi Arabia
 0  Messi 10' (pen.)  Report  Al-Shehri 48' S. Al-Dawsari 53',
    Mexico     0–0  Poland
 0     NaN  Report     NaN,
                           Poland     2–0  Saudi Arabia
 0  Zieliński 39' Lewandowski 82'  Report           NaN,
                  Argentina     2–0  Mexico
 0  Messi 64' Fernández 87'  Report     NaN,
    Poland     0–2                     Argentina
 0     NaN  Report  Mac Allister 46' Álvarez 67',
           Saudi Arabia     1–2                 Mexico
 0  S. Al-Dawsari 90+5'  Report  Martín 47' Chávez 52',
    Pos    Teamvte  Pld  W  D  L  GF  GA  GD  Pts               Qualification
 0    1     France    3  2  0  1   6   3  +3    6  Advanced to knockout stage
 1    2  Australia    3  2  0  1   3   4  −1    6  Advanced to knockout stage
 2    3    Tunisia    3  1  1  1   1   1   0    4                         NaN
 3    4    Denmark    3  0  1  2   1   3  −2    1                         NaN,
    Denmark     0–0  Tunisia
 0      NaN  Report      NaN,
                                   France     4–1   Australia
 0  Rabiot 27' Giroud 32', 71' Mbappé 68'  Report  Goodwin 9',
    Tunisia     0–1 Australia
 0      NaN  Report  Duke 23',
             France     2–1             Denmark
 0  Mbappé 61', 86'  Report  A. Christensen 68',
     Australia     1–0  Denmark
 0  Leckie 60'  Report      NaN,
       Tunisia     1–0  France
 0  Khazri 58'  Report     NaN,
    Pos     Teamvte  Pld  W  D  L  GF  GA  GD  Pts               Qualification
 0    1       Japan    3  2  0  1   4   3  +1    6  Advanced to knockout stage
 1    2       Spain    3  1  1  1   9   3  +6    4  Advanced to knockout stage
 2    3     Germany    3  1  1  1   6   5  +1    4                         NaN
 3    4  Costa Rica    3  1  0  2   3  11  −8    3                         NaN,
                Germany     1–2               Japan
 0  Gündoğan 33' (pen.)  Report  Dōan 75' Asano 83',
                                                Spain     7–0  Costa Rica
 0  Olmo 11' Asensio 21' F. Torres 31' (pen.), 54'...  Report         NaN,
    Japan     0–1  Costa Rica
 0    NaN  Report  Fuller 81',
         Spain     1–1       Germany
 0  Morata 62'  Report  Füllkrug 83',
                  Japan     2–1       Spain
 0  Dōan 48' Tanaka 51'  Report  Morata 11',
               Costa Rica     2–4                                   Germany
 0  Tejeda 58' Vargas 70'  Report  Gnabry 10' Havertz 73', 85' Füllkrug 89',
    Pos  Teamvte  Pld  W  D  L  GF  GA  GD  Pts               Qualification
 0    1  Morocco    3  2  1  0   4   1  +3    7  Advanced to knockout stage
 1    2  Croatia    3  1  2  0   4   1  +3    5  Advanced to knockout stage
 2    3  Belgium    3  1  1  1   1   2  −1    4                         NaN
 3    4   Canada    3  0  0  3   2   7  −5    0                         NaN,
    Morocco     0–0  Croatia
 0      NaN  Report      NaN,
          Belgium     1–0  Canada
 0  Batshuayi 44'  Report     NaN,
    Belgium     0–2                    Morocco
 0      NaN  Report  Saïss 73' Aboukhlal 90+2',
                                     Croatia     4–1     Canada
 0  Kramarić 36', 70' Livaja 44' Majer 90+4'  Report  Davies 2',
    Croatia     0–0  Belgium
 0      NaN  Report      NaN,
               Canada     1–2                  Morocco
 0  Aguerd 40' (o.g.)  Report  Ziyech 4' En-Nesyri 23',
    Pos      Teamvte  Pld  W  D  L  GF  GA  GD  Pts               Qualification
 0    1       Brazil    3  2  0  1   3   1  +2    6  Advanced to knockout stage
 1    2  Switzerland    3  2  0  1   4   3  +1    6  Advanced to knockout stage
 2    3     Cameroon    3  1  1  1   4   4   0    4                         NaN
 3    4       Serbia    3  0  1  2   5   8  −3    1                         NaN,
   Switzerland     1–0  Cameroon
 0  Embolo 48'  Report       NaN,
                  Brazil     2–0  Serbia
 0  Richarlison 62', 73'  Report     NaN,
                                           Cameroon     3–3  \
 0  Castelletto 29' Aboubakar 63' Choupo-Moting 66'  Report

                                               Serbia
 0  Pavlović 45+1' S. Milinković-Savić 45+3' A. Mi...  ,
          Brazil     1–0  Switzerland
 0  Casemiro 83'  Report          NaN,
                          Serbia     2–3                         Switzerland
 0  A. Mitrović 26' Vlahović 35'  Report  Shaqiri 20' Embolo 44' Freuler 48',
           Cameroon     1–0  Brazil
 0  Aboubakar 90+2'  Report     NaN,
    Pos      Teamvte  Pld  W  D  L  GF  GA  GD  Pts               Qualification
 0    1     Portugal    3  2  0  1   6   4  +2    6  Advanced to knockout stage
 1    2  South Korea    3  1  1  1   4   4   0    4  Advanced to knockout stage
 2    3      Uruguay    3  1  1  1   2   2   0    4                         NaN
 3    4        Ghana    3  1  0  2   5   7  −2    3                         NaN,
    Uruguay     0–0  South Korea
 0      NaN  Report          NaN,
                                 Portugal     3–2                   Ghana
 0  Ronaldo 65' (pen.) Félix 78' Leão 80'  Report  A. Ayew 73' Bukari 89',
              South Korea     2–3                      Ghana
 0  Cho Gue-sung 58', 61'  Report  Salisu 24' Kudus 34', 68',
                       Portugal     2–0  Uruguay
 0  Fernandes 54', 90+3' (pen.)  Report      NaN,
    Ghana     0–2                 Uruguay
 0    NaN  Report  De Arrascaeta 26', 32',
                                South Korea     2–1  Portugal
 0  Kim Young-gwon 27' Hwang Hee-chan 90+1'  Report  Horta 5',
     0                              1                              2   3   4   \
 0  NaN                    Round of 16                    Round of 16 NaN NaN
 1  NaN                            NaN                            NaN NaN NaN
 2  NaN   3 December – Al Rayyan (KIS)   3 December – Al Rayyan (KIS) NaN NaN
 3  NaN   3 December – Al Rayyan (KIS)   3 December – Al Rayyan (KIS) NaN NaN
 4  NaN                    Netherlands                              3 NaN NaN
 5  NaN                    Netherlands                              3 NaN NaN
 6  NaN                  United States                              1 NaN NaN
 7  NaN                  United States                              1 NaN NaN
 8  NaN  3 December – Al Rayyan (ABAS)  3 December – Al Rayyan (ABAS) NaN NaN
 9  NaN  3 December – Al Rayyan (ABAS)  3 December – Al Rayyan (ABAS) NaN NaN
 10 NaN                      Argentina                              2 NaN NaN
 11 NaN                      Argentina                              2 NaN NaN
 12 NaN                      Australia                              1 NaN NaN
 13 NaN                      Australia                              1 NaN NaN
 14 NaN         5 December – Al Wakrah         5 December – Al Wakrah NaN NaN
 15 NaN         5 December – Al Wakrah         5 December – Al Wakrah NaN NaN
 16 NaN                          Japan                          1 (1) NaN NaN
 17 NaN                          Japan                          1 (1) NaN NaN
 18 NaN                    Croatia (p)                          1 (3) NaN NaN
 19 NaN                    Croatia (p)                          1 (3) NaN NaN
 20 NaN       5 December – Doha (S974)       5 December – Doha (S974) NaN NaN
 21 NaN       5 December – Doha (S974)       5 December – Doha (S974) NaN NaN
 22 NaN                         Brazil                              4 NaN NaN
 23 NaN                         Brazil                              4 NaN NaN
 24 NaN                    South Korea                              1 NaN NaN
 25 NaN                    South Korea                              1 NaN NaN

In [94]:
data[9]
data[16]
data[23]
data[30]
data[37]
data[44]
data[51]
data[58]

   Pos      Teamvte  Pld  W  D  L  GF  GA  GD  Pts               Qualification
0    1     Portugal    3  2  0  1   6   4  +2    6  Advanced to knockout stage
1    2  South Korea    3  1  1  1   4   4   0    4  Advanced to knockout stage
2    3      Uruguay    3  1  1  1   2   2   0    4                         NaN
3    4        Ghana    3  1  0  2   5   7  −2    3                         NaN

In [95]:
data = pd.read_html('https://en.wikipedia.org/wiki/2022_FIFA_World_Cup')

dict_table = {}
for letter, i in zip(alphabet, range(9, 65, 7)):
  df = data[i]
  df.rename(columns = {df.columns[1]: 'Team'}, inplace = True)
  df.pop('Qualification')
  dict_table[f'Group {letter}'] = df

In [96]:
dict_table['Group H']

   Pos         Team  Pld  W  D  L  GF  GA  GD  Pts
0    1     Portugal    3  2  0  1   6   4  +2    6
1    2  South Korea    3  1  1  1   4   4   0    4
2    3      Uruguay    3  1  1  1   2   2   0    4
3    4        Ghana    3  1  0  2   5   7  −2    3

In [97]:
with open('dict_table', 'wb') as output:
  pickle.dump(dict_table, output)

In [98]:
tables = [data[9], data[16], data[23], data[30], data[37], data[44], data[51], data[58]]

In [99]:
combined_table = pd.concat(tables, ignore_index=True)
combined_table
combined_table_sort = combined_table.sort_values(by='Pts', ascending=False)
combined_table_sort

    Pos           Team  Pld  W  D  L  GF  GA  GD  Pts
0     1    Netherlands    3  2  1  0   5   1  +4    7
4     1        England    3  2  1  0   9   2  +7    7
20    1        Morocco    3  2  1  0   4   1  +3    7
12    1         France    3  2  0  1   6   3  +3    6
28    1       Portugal    3  2  0  1   6   4  +2    6
25    2    Switzerland    3  2  0  1   4   3  +1    6
24    1         Brazil    3  2  0  1   3   1  +2    6
1     2        Senegal    3  2  0  1   5   4  +1    6
13    2      Australia    3  2  0  1   3   4  −1    6
16    1          Japan    3  2  0  1   4   3  +1    6
8     1      Argentina    3  2  0  1   5   2  +3    6
21    2        Croatia    3  1  2  0   4   1  +3    5
5     2  United States    3  1  2  0   2   1  +1    5
22    3        Belgium    3  1  1  1   1   2  −1    4
30    3        Uruguay    3  1  1  1   2   2   0    4
29    2    South Korea    3  1  1  1   4   4   0    4
2     3        Ecuador    3  1  1  1   4   3  +1    4
26    3       Cameroon    3  1  1  1   4   4   0    4
10    3         Mexico    3  1  1  1   2   3  −1    4
18    3        Germany    3  1  1  1   6   5  +1    4
17    2          Spain    3  1  1  1   9   3  +6    4
14    3        Tunisia    3  1  1  1   1   1   0    4
9     2         Poland    3  1  1  1   2   2   0    4
19    4     Costa Rica    3  1  0  2   3  11  −8    3
6     3           Iran    3  1  0  2   4   7  −3    3
11    4   Saudi Arabia    3  1  0  2   3   5  −2    3
31    4          Ghana    3  1  0  2   5   7  −2    3
7     4          Wales    3  0  1  2   1   6  −5    1
27    4         Serbia    3  0  1  2   5   8  −3    1
15    4        Denmark    3  0  1  2   1   3  −2    1
23    4         Canada    3  0  0  3   2   7  −5    0
3     4      Qatar (H)    3  0  0  3   1   7  −6    0

In [100]:
combined_table_sort.head(5)
print("Top 10 Poin Tertinggi:")
combined_table_sort.head(10)[['Team', 'Pts']]

Top 10 Poin Tertinggi:

           Team  Pts
0   Netherlands    7
4       England    7
20      Morocco    7
12       France    6
28     Portugal    6
25  Switzerland    6
24       Brazil    6
1       Senegal    6
13    Australia    6
16        Japan    6

In [101]:
combined_table['Team']

0       Netherlands
1           Senegal
2           Ecuador
3         Qatar (H)
4           England
5     United States
6              Iran
7             Wales
8         Argentina
9            Poland
10           Mexico
11     Saudi Arabia
12           France
13        Australia
14          Tunisia
15          Denmark
16            Japan
17            Spain
18          Germany
19       Costa Rica
20          Morocco
21          Croatia
22          Belgium
23           Canada
24           Brazil
25      Switzerland
26         Cameroon
27           Serbia
28         Portugal
29      South Korea
30          Uruguay
31            Ghana
Name: Team, dtype: object